@font-face {
  font-family: 'Montserrat Ultra Light';
  font-style: normal;
  font-weight: normal;
  src: local("Montserrat Ultra Light"), url("Montserrat-UltraLight.woff") format("woff"); }
* {
  margin: 0;
  padding: 0; }

body {
  width: 1920px;
  margin: 0 auto; }

.header {
  background-image: url(pic/photo.jpg);
  box-shadow: inset 0px 0px 0px 1024px rgba(0, 0, 0, 0.5);
  background-repeat: no-repeat;
  height: 1024px; }

.navigation {
  padding-top: 40px;
  margin: 0 auto;
  display: flex;
  width: 1170px;
  justify-content: space-between; }

.logotip {
  display: flex;
  text-decoration: none;
  width: 64px;
  height: 56px; }
  .logotip p {
    color: #fff;
    font-family: Raleway;
    font-size: 34px;
    font-weight: 400;
    letter-spacing: -1.36px;
    margin-top: 10px; }

.menu {
  display: flex; }
  .menu li {
    list-style-type: none;
    margin-top: 23px; }
    .menu li a {
      text-decoration: none;
      width: 42px;
      height: 10px;
      color: #fff;
      font-family: Montserrat;
      font-size: 14px;
      font-weight: 300;
      margin-left: 30px; }

.header-textbox {
  width: 590px;
  margin: 0 auto;
  margin-top: -100px; }
  .header-textbox h1 {
    color: #fff;
    font-family: Raleway;
    font-size: 52px;
    font-weight: 700;
    text-align: center;
    margin: 10px 0; }
  .header-textbox h2 {
    display: block;
    margin-top: 380px;
    color: #fff;
    font-family: Raleway;
    font-size: 36px;
    font-weight: 500;
    text-align: center; }
  .header-textbox p {
    height: 39px;
    color: #fff;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-align: center; }
  .header-textbox a {
    text-decoration: none;
    margin: 53px auto;
    width: 170px;
    height: 53px;
    box-shadow: inset 0 -3px 0 #736357;
    border-radius: 3px;
    background-color: #998675;
    display: block;
    color: #fff;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 400;
    line-height: 53px;
    text-transform: uppercase;
    text-align: center; }
  .header-textbox a:hover {
    color: #212121;
    padding-bottom: 2px;
    border-bottom: 1px solid #212121; }
  .header-textbox a:active {
    color: #212121;
    border-bottom: 2px solid #212121;
    margin: 54px auto;
    background-color: #7e6d5d; }
